In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Polarity.xlsx")

In [3]:
df.head()

   Polarity                                               Data
0         4   __TiffanyAndCo Cousinnnn the return coming soon
1         4  at the balenciaga thinking about my friends fa...
2         0  TiffanyAndCo bracelet I bought in Milan in Oct...
3         2  QueenMoniB personifier channel_gibbs eccentric...
4         4  Pup_Dior_ Happy Valentines Day  You are so gor...

In [4]:
df.shape

(4300, 2)

# Data Processing

## Stop Words Removal

In [5]:
from nltk.corpus import stopwords
# import nltk
# nltk.download('stopwords')
stop_words = stopwords.words('english')
stop_words.append('nan')
stop_words.append('removed')
stop_words.remove('not')
stop_words.remove('no')
stop_words[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [6]:
df['Data'] = df['Data'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [7]:
df.head()

   Polarity                                               Data
0         4        __TiffanyAndCo Cousinnnn return coming soon
1         4  balenciaga thinking friends family guy good ti...
2         0  TiffanyAndCo bracelet I bought Milan Oct sent ...
3         2  QueenMoniB personifier channel_gibbs eccentric...
4         4        Pup_Dior_ Happy Valentines Day You gorgeous

## Tokenise Words & Put into Matrix

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

In [9]:
# Create a CountVectorizer instance
vectorizer = CountVectorizer()

# Preparing the data to fit_tranformation
listofData  = list(df["Data"].array)

# Create the Matrix
matrix = vectorizer.fit_transform(listofData)
matrix = matrix.toarray()

# Add into new column in df
df["Vector"] = [row.tolist() for row in matrix]
df

,Polarity,Data,Vector
0,4,__TiffanyAndCo Cousinnnn return coming soon,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,4,balenciaga thinking friends family guy good ti...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,0,TiffanyAndCo bracelet I bought Milan Oct sent ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,2,QueenMoniB personifier channel_gibbs eccentric...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,Pup_Dior_ Happy Valentines Day You gorgeous,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...
4295,2,Tag timestamp Louis Vuitton pastel camo shirt ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4296,2,What best place buy Rolex Florida Not grey market,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4297,2,Suggest Book Can recommend books Greek God Hermes,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4298,2,Chloe wears Louis Vuitton HUNGER Magazine,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4299,0,Has video image someone wearing bag stopped tr...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

## Calculating L2 Distance

In [10]:
def l2_distance(v1, v2):
    if (len(v1) != len(v2)):
        print("Vectors not of the same dimension")
        return -1
    sum = 0
    for i, pt in enumerate(v1):
        sum += (pt - v2[i])**2
    return sum ** 0.5

In [11]:
l2_distance(df['Vector'][0], df['Vector'][1])

4.123105625617661

In [12]:
l2DistanceDf = df.copy()
v1 = df['Vector'][0]
l2DistanceDf["Distance from v1"] = df['Vector'].apply(lambda x: l2_distance(v1,x))
l2DistanceDf

,Polarity,Data,Vector,Distance from v1
0,4,__TiffanyAndCo Cousinnnn return coming soon,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.000000
1,4,balenciaga thinking friends family guy good ti...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4.123106
2,0,TiffanyAndCo bracelet I bought Milan Oct sent ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",6.480741
3,2,QueenMoniB personifier channel_gibbs eccentric...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",6.708204
4,4,Pup_Dior_ Happy Valentines Day You gorgeous,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3.316625
...,...,...,...,...
4295,2,Tag timestamp Louis Vuitton pastel camo shirt ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",6.782330
4296,2,What best place buy Rolex Florida Not grey market,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3.741657
4297,2,Suggest Book Can recommend books Greek God Hermes,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3.605551
4298,2,Chloe wears Louis Vuitton HUNGER Magazine,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",3.316625
4299,0,Has video image someone wearing bag stopped tr...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",9.055385

## Calculating Cosine Similarity

In [10]:
def cosine_sim(v1,v2):
    if (len(v1) != len(v2)):
        print("Vectors not of the same dimension")
        return -1
    dotProduct = 0
    sumOfSquaredV1 = 0
    sumOfSquaredV2 = 0
    for i, pt in enumerate(v1):
        dotProduct += pt*v2[i]
        sumOfSquaredV1 += pt*pt
        sumOfSquaredV2 += v2[i] * v2[i]
    
    cosineSimilarity = dotProduct/((sumOfSquaredV1 ** 0.5) * (sumOfSquaredV2 ** 0.5))
    return cosineSimilarity

In [11]:
print(cosine_sim(df['Vector'][0], df['Vector'][1]))
print(cosine_sim(df['Vector'][0], df['Vector'][0]))

0.0
0.9999999999999998

In [12]:
cosSimDf = df.copy()
v1 = df['Vector'][0]
cosSimDf["Cosine Similarity with v1"] = df['Vector'].apply(lambda x: cosine_sim(v1,x))
cosSimDf

,Polarity,Data,Vector,Cosine Similarity with v1
0,4,__TiffanyAndCo Cousinnnn return coming soon,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.0
1,4,balenciaga thinking friends family guy good ti...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
2,0,TiffanyAndCo bracelet I bought Milan Oct sent ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
3,2,QueenMoniB personifier channel_gibbs eccentric...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
4,4,Pup_Dior_ Happy Valentines Day You gorgeous,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
...,...,...,...,...
4295,2,Tag timestamp Louis Vuitton pastel camo shirt ...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
4296,2,What best place buy Rolex Florida Not grey market,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
4297,2,Suggest Book Can recommend books Greek God Hermes,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
4298,2,Chloe wears Louis Vuitton HUNGER Magazine,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0
4299,0,Has video image someone wearing bag stopped tr...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.0

In [16]:
cosSimDf[cosSimDf["Cosine Similarity with v1"] != 0]

,Polarity,Data,Vector,Cosine Similarity with v1
0,4,__TiffanyAndCo Cousinnnn return coming soon,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1.000000
19,0,__TiffanyAndCo They cant even love enough free...,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.149071
119,2,Rolex sell retail With discounts Soon,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.182574
122,4,hrs hr shift coming new inspiring ways spell l...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.119523
210,2,__TiffanyAndCo I get Hunter started understand...,"[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.108465
...,...,...,...,...
4084,2,WG SYSYTEM So clearly see contrast SWORD AEGIS...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.008759
4097,2,As someone didnt get watches pandemic Im curio...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.070711
4201,2,hi gonna go real soon need buy good dupe not w...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.060858
4225,2,Good Friday morning traders investors rStockMa...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.005271
4280,2,NXT developmental system future superstars WWE...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0.009682

In [13]:
print(cosSimDf["Data"][0])
print(cosSimDf["Data"][119])
print(cosSimDf["Data"][len(cosSimDf['Data'])-1])

__TiffanyAndCo Cousinnnn return coming soon
Rolex sell retail With discounts Soon
Has video image someone wearing bag stopped tracks ones Share experiences Ill start Lydia Tomlinson second outfit short made first consider Dior bag Hannah Pak definitely making want LV NeoNoe seeing wear much work travel Ive admired lot bags online discover I dont actually like person Watching videos people actually wearing using not YouTubers seated reviewing bag helped ton Does help Seeing Bags Action

In [15]:
import time
# sample_queries = ["Looking for newest Fragrant Dior perfume",
#                   "Hottest Gucci trends",
#                   "Polo ralph lauren for fathers day",
#                   "Balenciaga latest products",
#                   "Prada leather handbags",
#                   "Rolex submariner on sale",
#                   "Louis Vuitton black bag",
#                   "Tiffany And Co Bracelet",
#                   "Chanel pink bag",
#                   "London gucci shoes"]

sample_queries = ["beautiful bags", "horrible watch bad design", "Bad Rolex"]
elapse_time = []

for query in sample_queries:
    tempDf = df[['Data']].copy()
    start_time = time.time()
    
    new_record = pd.DataFrame([{'Data':query}])
    tempDf = pd.concat([tempDf, new_record], ignore_index=True)
    
    # Create a CountVectorizer instance
    vectorizer = CountVectorizer()
    # Preparing the data to fit_tranformation
    listofData  = list(tempDf["Data"].array)
    # Create the Matrix
    matrix = vectorizer.fit_transform(listofData)
    matrix = matrix.toarray()
    # Creating a Vector column column in df
    tempDf["Vector"] = [row.tolist() for row in matrix]
    
    print(tempDf['Data'][len(tempDf['Data'])-1])
    v1 = tempDf['Vector'][len(tempDf['Data'])-1]
    tempDf['Vector'] = tempDf['Vector'].apply(lambda x: cosine_sim(v1,x))
    
    end_time = time.time()
    
    tempDf.to_csv("Linear Search Results//"+query.replace(" ","_")+".csv")
    
    elapse_time.append(end_time-start_time)

print(elapse_time)

beautiful bags
horrible watch bad design
Bad Rolex
[11.098114728927612, 10.971203327178955, 10.975433826446533]

In [15]:
tempDf[tempDf['Vector'] > 0.5]

                                              Data   Vector
119          Rolex sell retail With discounts Soon  0.57735
4300  I love to sell rolex with a lot of discounts  1.00000

In [ ]:
[10.759878635406494, 10.649078607559204, 10.477964639663696, 10.413733005523682, 10.690922498703003, 11.268934488296509, 10.590667247772217, 10.398170709609985, 10.412941455841064, 10.494908809661865]