In [2]:
from sklearn.cluster import DBSCAN
from ast import literal_eval
import numpy as np
import pandas as pd

In [121]:
# Generate sample data
# data = np.random.rand(100, 2)
# data = pd.read_csv("./Dataset/transaction_0.01_freq_vector.csv", index_col=[0], converters={"Transaction": literal_eval, "Vector":literal_eval})
# data = pd.read_csv("./Dataset/basket_freq_vector.csv", index_col=[0], converters={"Transaction": literal_eval, "Vector":literal_eval})
# data = pd.read_csv("./Dataset/basket_infreq_vector.csv", index_col=[0], converters={"Transaction": literal_eval, "Vector":literal_eval})
data = pd.read_csv("./Dataset/job_freq_vector.csv", index_col=[0], converters={"Title": literal_eval, "Vector":literal_eval})
# data = pd.read_csv("./Dataset/job_infreq_vector.csv", index_col=[0], converters={"Transaction": literal_eval, "Vector":literal_eval})
data.head()

,Title,Vector
0,"[digital, marketing, specialist]","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,"[web, developer]","[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,"[operations, manager]","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,"[network, engineer]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
4,"[event, manager]","[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."

In [123]:
data1=data.sample(n=1000)

In [125]:
# Create DBSCAN instance
dbscan = DBSCAN(eps=0.001, min_samples=2, metric='cosine')

# Fit model to data and get labels
vectors = list(data1['Vector'])
dbscan.fit(vectors)
labels = dbscan.labels_

# Fit and predict clusters
y_pred = dbscan.fit_predict(vectors)

# Get number of clusters
n_clusters = len(set(labels)) - (1 if -1 in labels else 0)

# Print clusters
print('Number of clusters: ', n_clusters)
print('Cluster labels: ', labels)
data1["Cluster"] = labels

Number of clusters:  107
Cluster labels:  [ -1   0   1   2   3   4   5   6   7   8   2   9  10   6  11  12  13  14
  14  15  16  17   7  -1  -1  18  19  16  20  21  22  23  24  25   6  26
  27  28   6  29   6  30  25  -1  31  32  11   6  -1  33  34  26  35  20
  36  12  37  24  38  39  24  40  41  42  -1  22  35  11  43  44  45  46
  22  47  -1  -1  39  48  -1  49  50  40  51  52   6  -1  -1  53  36  22
  54  23  34  45   9  32   6  -1  55  27  30  56   5  57  58  59  36  33
   4  28  13   0   5  19  60  -1  60  61  30  -1  62  38  63   6  64  52
  38  26  -1  51  29  65  34  13  48  66  28  -1  11  32   0  23  34  67
  -1  13  30  -1   6  56  68  52  38  37  69   2  12  -1  48   7  70  33
  70  19  71  13  20  72  11  60  73  28  41  60  27  30  45  -1  71  15
   4   2  74  61  22  -1  61  75  76  28   1  32  47  32   8  52  77  78
  54  65  79   6  28  44  80  11  -1  15  81  82  76  63  17  57   2  51
   0  46   5  35  83  13  20  12  70  62  32  54  28  84  53  36  13  48
  58  77  -1  34  -1   7  13  17  27  85  86  26  81  29  28  70  28  56
  52   6  55  87   9  32  83   2   0  57  11  45  19  13  32  50  75  88
   0  61  33  61  61  74  88   7  35  89  72  13  41   2  17  12  90  76
  91  82  -1   0  53  79  24   2  30  -1  -1  54  38  62  76  72  15   3
  54  92   4  27   4  54  19  47  60  20  -1  15  11  58  85  12  45   4
  93  17  13  32  45   4   6  58  16  34  56  32  88  -1  72  80  62   7
   4  -1  65  37  43   6  32  81  77  51  29  38  83  55   3  16   9  -1
  -1   6  62   4  45  12  15   6  72  80  28  47  41  20   9  21   2  28
   5  60  27  54  51  94  95   0   6  74  96  61  60  97   6  70   3   6
  -1  83   6   6  71  27  13  75  40  25  75  98  -1   5  61  99  23  10
  34  70  38  28  79  96  54  64  44  36  51  88  28  86  88  68  27  72
   4  70  45   6  45  83  95   6  13  35  10  37  45  -1  60  53  61  83
  84   4  83   6  47  -1   6  55  67  -1  20  71  -1  28  -1  91  13  42
  18  39  10  45  11  29  29  48   6   4  98  54   4   6  87  27  89  62
  12  -1  55   0  17  79  48   4  70  88  -1  71  96   1   3  28  69  17
  -1   5  54   4  -1  22  95  74  52   4   0  93  -1  21  91  91  56  75
  88   6   2   3  37  84  38  85   1  28  96  26  84  -1  11  38  -1  35
  72  42  54   7  60  97  48  32  18  60  54  31   4  57 100  74   9   4
  28   1  -1  36 101  34  51  15 101  22  30  40  65  40  84  56  41  13
  68  50  74  17   6  44   4   6  -1  27   7  50  19  19  20   0  38  69
  97  10   6  70 102  79  74  60  59  85   0  56  92  48  -1  88  -1   2
  39   2  10  48  75  62  35  84  38   9  23  60   4  75  32  90   5  39
  77  91  24   6 100  72  83 103   6  25  28   6  70  45  32  -1  85  84
 100  96  78   0  97  86  45   2   6  24  51  87  28   6  92  30  10  72
  -1  87  25  72  50   0  63   0  17   4   4  39   4  18  32  32  32  26
  16  10   6  72  41  45   4   6  10  38  -1  30 104  84  29 105  17   6
  22  81  37  13  13   7  39  46   5  46  53  72  42   9  48  28  65  83
  41  10   6  55  17  83  50  31  -1  18  17  66  19  89  10  95  48  69
  95  95  13  58  70  79  88  59  -1  49  28 105  74  28   0  14  -1  20
   9  20  58  51   5  87  22  83  98  33  81   6  59  28  12  68   3  36
  70   1  37  40  61  20  52  27  94  60  27  96  13  37  13  13  24  42
  77  82  26  45   6  17   6  55  58  60 104  84 103  28  -1  10  53  40
  15  28   4  74  76  22  70  85  28  52  22  93  32  12  68  20  82   2
  17   1  33  94  23  27  53  65   2  34  42  -1  60  30  27  72   4  84
 106   2 102   4  79  70   6  60   2  58  23  44  39   0 101  82  67  38
  -1  -1  14  52  83  50  72  95  10  85  73  94  54   6  63  18  83  36
  38  87  13  37  92 106  28  10  18  32  62  53  20  60  67 106   4  48
  60  22  52  38   4   2 106  58  94  61  70  11  60  91  99  95   2  13
  70  35   9   2  45  50  32  84  32 100  80  85   0  32  12  36  81  11
  66  67  73  73  69  99  34  55  75   5  92  47  34  72   4  42  54  56
  89  94   7  54   9  -1   6  24   6  83  58  25  58   9  -1  91  58  10
  13  38  55  39  26   6  75  99  15  48  17  70  35  62  56  32  35  13
   0  27  58  23   0  23  18  70  50  10]

In [117]:
data[data["Cluster"]==-1]

Empty DataFrame
Columns: [Transaction, Vector, Cluster]
Index: []

In [51]:
# Generate sample data
# data = np.random.rand(100, 2)
data = pd.read_csv("./Dataset/basket_infreq_vector.csv", index_col=[0], converters={"Transaction": literal_eval, "Vector":literal_eval})
data.head()

dim = len(data["Vector"][0])
n = data.shape[0]

print("Dimension:", dim)
print("Number of Rows:", n)

# Create DBSCAN instance
dbscan = DBSCAN(eps=0.01, min_samples=50)

# Fit model to data and get labels
vectors = list(data['Vector'])
labels = dbscan.fit_predict(vectors)

# Get number of clusters
n_clusters = len(set(labels)) - (1 if -1 in labels else 0)

# Print clusters
print('Number of clusters: ', n_clusters)
print('Cluster labels: ', labels)

data["Cluster"] = labels

Dimension: 167
Number of Rows: 14963
Number of clusters:  4
Cluster labels:  [-1 -1 -1 ... -1 -1 -1]

In [47]:
data[data["Cluster"] == -1]

,Transaction,Vector,Cluster
0,"[salty snack, pastry, whole milk]","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-1
1,"[yogurt, semi-finished bread, whole milk, saus...","[0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-1
3,"[misc. beverages, canned beer]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",-1
4,"[hygiene articles, sausage]","[0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...",-1
5,"[rolls/buns, whole milk, sausage]","[0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",-1
...,...,...,...
14958,"[butter milk, whipped/sour cream]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",-1
14959,"[herbs, bottled water]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-1
14960,"[onions, fruit/vegetable juice]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-1
14961,"[bottled beer, other vegetables]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-1
14962,"[semi-finished bread, root vegetables, soda]","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",-1

In [118]:
data.to_csv("./Output Clusters/dbscan-0.01-1-cluster-output.csv")