In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('../Apriori/Dataset/basket.csv')

def preprocess_data(df):
    transactions = []
    for index, row in df.iterrows():
        transaction = set(row.dropna().unique())
        if transaction:
            transactions.append(list(transaction))
    return transactions

transactions = preprocess_data(dataset)
transactions[:5]

[['whole milk', 'pastry', 'salty snack'],
 ['whole milk', 'yogurt', 'semi-finished bread', 'sausage'],
 ['pickled vegetables', 'soda'],
 ['misc. beverages', 'canned beer'],
 ['hygiene articles', 'sausage']]

In [72]:
freq_dataset = pd.read_csv('../Apriori/Dataset/apriori_dataset.csv')
freq_dataset = freq_dataset[freq_dataset['Size'] == 1]
freq_dataset.to_csv("Adapter Output/vector_mapping.csv")
freq_dataset

    Size      Itemset
0      1  salty snack
1      1   whole milk
2      1       pastry
3      1       yogurt
4      1      sausage
..   ...          ...
59     1         pork
60     1    ice cream
61     1      waffles
62     1     cat food
63     1  chewing gum

[64 rows x 2 columns]

### Creating the transaction Vectors using frequent itemsets as features

In [44]:
result_vector = pd.DataFrame(columns=freq_dataset['Itemset'].values)
result_vector

Empty DataFrame
Columns: [salty snack, whole milk, pastry, yogurt, sausage, soda, canned beer, misc. beverages, hygiene articles, rolls/buns, frankfurter, whipped/sour cream, curd, beef, white bread, butter, other vegetables, frozen vegetables, sugar, tropical fruit, specialty chocolate, butter milk, frozen meals, root vegetables, pip fruit, red/blush wine, chocolate, shopping bags, margarine, bottled water, chicken, bottled beer, dessert, hamburger meat, domestic eggs, white wine, newspapers, herbs, coffee, UHT-milk, specialty bar, sliced cheese, candy, citrus fruit, grapes, brown bread, processed cheese, onions, napkins, hard cheese, meat, fruit/vegetable juice, soft cheese, oil, long life bakery product, beverages, berries, ham, cream cheese , pork, ice cream, waffles, cat food, chewing gum]
Index: []

[0 rows x 64 columns]

In [69]:
transaction_vectors = []
for transaction in transactions:
    temp_vector = []
    for freq_item in freq_dataset['Itemset'].values:
        if freq_item in transaction:
            temp_vector.append(1)
        else:
            temp_vector.append(0)
    transaction_vectors.append(temp_vector)

# transaction_vectors[:5]

In [70]:
result_transactions_w_vectors = pd.DataFrame({'Transaction':transactions, 'Vector':transaction_vectors})
result_transactions_w_vectors.head()

,Transaction,Vector
0,"[salty snack, pastry, whole milk]","[1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,"[yogurt, semi-finished bread, whole milk, saus...","[0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,"[soda, pickled vegetables]","[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,"[misc. beverages, canned beer]","[0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
4,"[hygiene articles, sausage]","[0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ..."

In [71]:
result_transactions_w_vectors.to_csv("Adapter Output/result_w_vector.csv")