In [5]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

basket_df = pd.read_csv("../Dataset/basket_chunks/transformed_basket.csv",names=['Transactions'])
basket_df.head(15)

                                                  Transactions
0                      ['whole milk', 'pastry', 'salty snack']
1   ['sausage', 'whole milk', 'semi-finished bread', 'yogurt']
2                               ['soda', 'pickled vegetables']
3                           ['canned beer', 'misc. beverages']
4                              ['sausage', 'hygiene articles']
5                      ['sausage', 'whole milk', 'rolls/buns']
6                                       ['whole milk', 'soda']
7                ['frankfurter', 'soda', 'whipped/sour cream']
8                                      ['frankfurter', 'curd']
9                                      ['beef', 'white bread']
10                                    ['butter', 'whole milk']
11                   ['frozen vegetables', 'other vegetables']
12                                 ['tropical fruit', 'sugar']
13                      ['butter milk', 'specialty chocolate']
14                             ['frozen meals', 'dental care']

In [13]:
basket_df = pd.read_csv("../Dataset/job_title_split_chunks/job_title_split_chunk_0.csv", names=['Transactions'])
basket_df.head(15)

                              Transactions
0   ['digital', 'marketing', 'specialist']
1                     ['web', 'developer']
2                ['operations', 'manager']
3                  ['network', 'engineer']
4                     ['event', 'manager']
5                   ['software', 'tester']
6                              ['teacher']
7                    ['ux/ui', 'designer']
8                    ['ux/ui', 'designer']
9                   ['wedding', 'planner']
10                       ['qa', 'analyst']
11              ['litigation', 'attorney']
12              ['mechanical', 'engineer']
13            ['network', 'administrator']
14                  ['account', 'manager']