##### Data Processing for Job Titles

In [3]:
# import pandas as pd

# def clean_and_split_job_titles(title_str):
#     # Basic cleaning: strip leading/trailing spaces, convert to lowercase, and split into words
#     return title_str.strip().lower().split()

# def process_job_title_chunks(input_path, chunk_size=100000):
#     chunks = pd.read_csv(input_path, chunksize=chunk_size, usecols=['Job Title'])

#     for i, chunk in enumerate(chunks):
#         print(f'Processing chunk {i}')
#         # Clean and split the 'Job Title' column
#         chunk['Job Title'] = chunk['Job Title'].dropna().apply(clean_and_split_job_titles)

#         # Save to a CSV file
#         output_file = f'Dataset/job_title_split_chunks/job_title_split_chunk_{i}.csv'
#         chunk['Job Title'].to_csv(output_file, index=False, header=False)

#         print(f'Chunk {i} saved to {output_file}')

# # Path to your dataset
# dataset_path = 'Dataset/job_descriptions.csv'

# # Process the dataset
# process_job_title_chunks(dataset_path)

In [4]:
# import pandas as pd

# def clean_and_split_job_titles(title_str):
#     # Basic cleaning: strip leading/trailing spaces, convert to lowercase, and split into words
#     return title_str.strip().lower().split()

# def create_dataset(input_path, output_path):
#     data = pd.read_csv(input_path, usecols=['Job Title'])

#     # Apply the cleaning and splitting function
#     split_titles = data['Job Title'].dropna().apply(clean_and_split_job_titles)

#     # Determine the maximum number of words in any title
#     max_words = split_titles.apply(len).max()

#     # Create a DataFrame with each word in a separate column
#     titles_df = pd.DataFrame(split_titles.tolist(), index=split_titles.index)
#     titles_df = titles_df.reindex(columns=range(max_words))  # Add missing columns for shorter titles

#     # Save to CSV
#     titles_df.to_csv(output_path, index=False, header=False)

# input_path = '../Dataset/job_descriptions.csv'
# output_path = '../Dataset/job_title_split.csv'
# create_dataset(input_path,output_path)

In [ ]:
import pandas as pd

def chunk_stuff(input_file,output_path, chunk_size=500):
    chunks = pd.read_csv(input_file, chunksize=chunk_size, usecols=['Job Title'])

    for i, chunk in enumerate(chunks):
        output_file = f'{output_path}/{input_file}_chunk_{i}.csv'

##### Data Processing for Transactions

In [5]:
import zipfile
import pandas as pd

zip_file_path = '../Dataset/transactions.zip'
csv_file_name = 'transactions.csv'
output_path = '../Dataset/transactions_split_chunks/'
selected_columns = ['CUST_ID', 'EXP_TYPE']
chunk_size = 2500

with zipfile.ZipFile(zip_file_path, 'r') as z:
    with z.open(csv_file_name) as csv_file:
        df = pd.read_csv(csv_file, usecols=selected_columns)

In [6]:
grouped_df = df.groupby('CUST_ID')['EXP_TYPE'].apply(lambda x: '|'.join(x)).reset_index()
grouped_df

          CUST_ID                                           EXP_TYPE
0      C000BK8N2S  Entertainment|Entertainment|Entertainment|Gamb...
1      C000TDGP4R  Entertainment|Entertainment|Entertainment|Ente...
2      C001F6USSU  Entertainment|Health|Entertainment|Clothing|En...
3      C0026REM1Q  Groceries|Entertainment|Entertainment|Entertai...
4      C002LR5U74  Groceries|Entertainment|Health|Groceries|Enter...
...           ...                                                ...
74995  CZZUM94ZSD  Entertainment|Entertainment|Motor/Travel|Motor...
74996  CZZW4TZZ3H  Entertainment|Bills and Utilities|Entertainmen...
74997  CZZXQ5ULG7  Groceries|Groceries|Entertainment|Groceries|Gr...
74998  CZZYEH2PF6  Groceries|Entertainment|Groceries|Groceries|Gr...
74999  CZZYMEA7MJ  Housing|Groceries|Bills and Utilities|Grocerie...

[75000 rows x 2 columns]

In [7]:
new_grouped_df = grouped_df['EXP_TYPE'].apply(lambda x: x.split('|')).apply(list)
new_grouped_df

0        [Entertainment, Entertainment, Entertainment, ...
1        [Entertainment, Entertainment, Entertainment, ...
2        [Entertainment, Health, Entertainment, Clothin...
3        [Groceries, Entertainment, Entertainment, Ente...
4        [Groceries, Entertainment, Health, Groceries, ...
                               ...
74995    [Entertainment, Entertainment, Motor/Travel, M...
74996    [Entertainment, Bills and Utilities, Entertain...
74997    [Groceries, Groceries, Entertainment, Grocerie...
74998    [Groceries, Entertainment, Groceries, Grocerie...
74999    [Housing, Groceries, Bills and Utilities, Groc...
Name: EXP_TYPE, Length: 75000, dtype: object

In [8]:
# Process and save each chunk
for i in range(0, len(new_grouped_df), chunk_size):
    end = min(i + chunk_size, len(new_grouped_df))

    chunk = new_grouped_df[i:end]

    output_file = f'{output_path}transactions_split_chunk_{i//chunk_size}.csv'
    chunk.to_csv(output_file, index=False, header= False)
    print(f'Chunk {i//chunk_size} saved to {output_file}')

Chunk 0 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_0.csv
Chunk 1 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_1.csv
Chunk 2 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_2.csv
Chunk 3 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_3.csv
Chunk 4 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_4.csv
Chunk 5 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_5.csv
Chunk 6 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_6.csv
Chunk 7 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_7.csv
Chunk 8 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_8.csv
Chunk 9 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_9.csv
Chunk 10 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_10.csv
Chunk 11 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_11.csv
Chunk 12 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_12.csv
Chunk 13 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_13.csv
Chunk 14 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_14.csv
Chunk 15 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_15.csv
Chunk 16 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_16.csv
Chunk 17 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_17.csv
Chunk 18 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_18.csv
Chunk 19 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_19.csv
Chunk 20 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_20.csv
Chunk 21 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_21.csv
Chunk 22 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_22.csv
Chunk 23 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_23.csv
Chunk 24 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_24.csv
Chunk 25 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_25.csv
Chunk 26 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_26.csv
Chunk 27 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_27.csv
Chunk 28 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_28.csv
Chunk 29 saved to ../Dataset/transactions_split_chunks/transactions_split_chunk_29.csv